.product-card {
  width: 270px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 3px 19px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-flow: column nowrap;
  padding: {
    left: 11px;
    right: 11px;
  }
  .content {
    display: flex;
    flex-flow: column nowrap;
    padding: {
      bottom: 16px;
      top: 9px;
    }
    gap: 7px;
    .name {
      font-weight: 300;
      font-size: 15px;
      color: #3f3f40;
    }
    .price {
      color: #3f3f40;
      font-weight: 700;
      font-size: 20px;
    }
    .free-shipping {
      color: #f71963;
      font-size: 12px;
      font-weight: 400;
    }
    .purchase-btn {
      background-color: #f71963;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      font-weight: 700;
      font-size: 14px;
      padding: {
        top: 14px;
        bottom: 14px;
      }
      cursor: pointer;
    }
  }
}

.dialog-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}
.dialog-content {
  position: fixed;
  background-color: #ffffff;
  width: 500px;
  min-height: 300px;
  inset: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 769px;
  width: 100%;
  min-height: 300px;
  padding: {
    top: 40px;
    bottom: 21px;
    left: 51px;
    right: 51px;
  }
  display: flex;
  flex-flow: row nowrap;
  gap: 84px;

  img {
    height: 192px;
  }

  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 1;
    .title {
      color: #041e50;
      font-size: 20px;
      font-weight: 400;
    }
    .price {
      font-weight: 900;
      font-size: 20px;
      color: #041e50;
    }
    .description {
      font-size: 10px;
      color: #222222;
      font-weight: 400;
    }
    a.details {
      color: #041e50;
      font-size: 12px;
      margin-bottom: 16px;
    }
    button.purchase {
      background-color: #f71963;
      border-radius: 4px;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      border: none;
      cursor: pointer;
      padding: {
        top: 14px;
        bottom: 14px;
        left: 70px;
        right: 70px;
      }
      margin-top: 16px;
    }
  }
}
